<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
	    http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!--启用注解， 扫描包。控制层由SpringMVC处理，实体及持久层由MyBatis处理，所以， Spring中只要扫描业务层及工具层的类 -->
	<context:annotation-config />
	<context:component-scan base-package="com.icss.service" />
	<context:component-scan base-package="com.icss.util" />

	<!-- 加载属性文件 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:config/jdbc.properties" />
	</bean>
	<!-- 数据源对象 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<!-- 配置连接数据库的属性 -->
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />

		<!-- 配置连接池的设置 -->
		<property name="initialSize" value="${initialSize}" />
		<property name="maxActive" value="${maxActive}" />
		<property name="maxIdle" value="${maxIdle}" />
		<property name="minIdle" value="${minIdle}" />
		<property name="maxWait" value="${maxWait}" />
	</bean>

	<!-- 配置MyBatis的SqlSessionFactoryBean,通过这个对象可取SqlSession对象。-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	  <!-- 关联数据源，事务由Spring来处理 -->
	  <property name="dataSource" ref="dataSource"/>
	  <!-- 加载主配置文件 -->
	  <property name="configLocation" 
	      value="classpath:config/mybatis-config.xml"/>
	  <!-- 加载所有的映射文件 -->
	  <property name="mapperLocations" 
	      value="classpath:mapping/*.xml"/>
	  <!-- 给所有的实体对象取别名，但是在MyBatis的主配置文件中已经处理了。 -->
	  <!-- <property name="typeAliasesPackage" value="com.jsdx.entity"/> -->
	</bean>
	
	<!-- 事务 -->
	<bean id="transactionManager" 
	  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	  <property name="dataSource" ref="dataSource"></property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>